In [20]:
import os, sys

def add_path(num, jupyter=True):
    '''Función guardada para poder importar módulos desde otros .py (os.getcwd() si es ipynb).
    Args:
        - num: indica el número de veces que se va a obtener la ruta superior.
    '''
    if jupyter:
        dirpath = os.getcwd()
    else:
        dirpath = __file__ # en caso de jupyter se usa os.getcwd()
    for i in range(num):
        dirpath = os.path.dirname(dirpath)
    sys.path.append(dirpath)
    return dirpath

rootpath = add_path(1)
print(rootpath)

d:\Documentos\TheBridge\bridge_datascience_JorgeGarcia\EDA_FINAL

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(f'{rootpath}/data/MAIN_DATASET.csv')
data.drop('Unnamed: 0', axis=1, inplace=True)

In [13]:
COLS = [col.upper() for col in data.columns]
string = '('
for col in COLS:
    if col == COLS[-1]:
        string += col + ')'
    else:
        string += col + ', '

string

'(NETFLIX_ID, NETFLIX_RATING, NUMBER_OF_VOTES, TITLE, YEAR, RATED, RELEASED, RUNTIME, GENRE, DIRECTOR, WRITER, ACTORS, PLOT, LANGUAGE, COUNTRY, AWARDS, POSTER, RATINGS, METASCORE, IMDBRATING, IMDBVOTES, IMDBID, TYPE)'

In [28]:
for i, row in data.iterrows():
    print(list(row.values))
    break

[1, 7.49908592321755, 547, 'Dinosaur Planet', '2003–', nan, '14 Dec 2003', '50 min', 'Documentary, Animation, Family', nan, nan, 'Christian Slater, Scott Sampson', 'A four-episode animated series charting the adventures of four dinosaurs - each on a different continent in the prehistoric world: a lone female Velociraptor in Asia; a young male Daspletosaurus in North America; a South American female Saltasaur; and a young adult Pyroraptor in Europe. Narrated by Christian Slater and hosted by paleontologist Scott Sampson.', 'English', 'USA', 'Won 2 Primetime Emmys. Another 4 nominations.', 'https://m.media-amazon.com/images/M/MV5BNTY2MDk5ODE0OV5BMl5BanBnXkFtZTcwNTMxNzQyMQ@@._V1_SX300.jpg', "[{'Source': 'Internet Movie Database', 'Value': '7.7/10'}]", nan, 7.7, '447', 'tt0389605', 'series']

In [69]:
def get_columns(df, lower=False):
    if lower:
        columns = [col.lower() for col in df.columns]
    else:
        columns = [col.upper() for col in df.columns]
    string_col = ''
    for col in columns:
        if col == columns[-1]:
            string_col += col
        else:
            string_col += col + ', '
    return string_col

def change_type(x):
    types = {'int64':'INT', 'float64':'FLOAT(24)', 'object':'VARCHAR(255)'}
    return types[x]

def type_string(data):
    t = list(map(change_type, str(data.dtypes).split()[1::2]))
    string_type = ''
    for i, value in enumerate(t):
        if i == len(t)-1:
            string_type += value
        else:
            string_type += value + ', '
    return string_type

In [70]:
def create_table_query(data, name):
    columns = get_columns(data, lower=True).split(', ')
    values = type_string(data).split(', ')
    pairs = 'ID INT NOT NULL AUTO_INCREMENT '
    for p in zip(columns, values):
        pairs += p[0] + ' ' + p[1] + ' NOT NULL, '
    sql = f"""CREATE TABLE {name} {pairs}"""
    return sql[:-2]

In [71]:
sql = create_table_query(data, 'base')

In [72]:
sql

'CREATE TABLE base ID INT NOT NULL AUTO_INCREMENT netflix_id INT NOT NULL, netflix_rating FLOAT(24) NOT NULL, number_of_votes INT NOT NULL, title VARCHAR(255) NOT NULL, year VARCHAR(255) NOT NULL, rated VARCHAR(255) NOT NULL, released VARCHAR(255) NOT NULL, runtime VARCHAR(255) NOT NULL, genre VARCHAR(255) NOT NULL, director VARCHAR(255) NOT NULL, writer VARCHAR(255) NOT NULL, actors VARCHAR(255) NOT NULL, plot VARCHAR(255) NOT NULL, language VARCHAR(255) NOT NULL, country VARCHAR(255) NOT NULL, awards VARCHAR(255) NOT NULL, poster VARCHAR(255) NOT NULL, ratings VARCHAR(255) NOT NULL, metascore FLOAT(24) NOT NULL, imdbrating FLOAT(24) NOT NULL, imdbvotes VARCHAR(255) NOT NULL, imdbid VARCHAR(255) NOT NULL, type VARCHAR(255) NOT NULL'