# HOW TO FLATTEN A LIST?
### with list comprehension

https://stackabuse.com/python-how-to-flatten-list-of-lists/

In [1]:
lista_grande = [[["Jorgina","Xinru", "José"],["Adrià", "Leonardo", "Miguel"]],[["Mary Cruz", "Isabel"],["Karina", "Jonathan", "Javier"]],[["Daniel", "Pablo", "Nacho"],["Sonia", "Marina"]],[["Mauro", "Jorge"],["Juan", "Nacho F"]]]

In [2]:
mi_lista_mediana = [lista_mediana for lista_mediana in lista_grande]
# aquí estoy sacando las cuatro listas medianas que hay en la lista grande pero las vuelvo a meter en otra lista que es mi_lista_mediana
mi_lista_mediana

[[['Jorgina', 'Xinru', 'José'], ['Adrià', 'Leonardo', 'Miguel']],
 [['Mary Cruz', 'Isabel'], ['Karina', 'Jonathan', 'Javier']],
 [['Daniel', 'Pablo', 'Nacho'], ['Sonia', 'Marina']],
 [['Mauro', 'Jorge'], ['Juan', 'Nacho F']]]

In [3]:
mi_lista_pequeña = [lista_pequeña for lista_mediana in lista_grande for lista_pequeña in lista_mediana]
#aquí estoy sacando las dos listas pequeñas que hay en cada una de las cuatro listas medianas que hay dentro de la lista grande y metiéndolas dentro de mi_lista_pequeña
mi_lista_pequeña

[['Jorgina', 'Xinru', 'José'],
 ['Adrià', 'Leonardo', 'Miguel'],
 ['Mary Cruz', 'Isabel'],
 ['Karina', 'Jonathan', 'Javier'],
 ['Daniel', 'Pablo', 'Nacho'],
 ['Sonia', 'Marina'],
 ['Mauro', 'Jorge'],
 ['Juan', 'Nacho F']]

In [4]:
mi_lista_con_lo_que_quiero = [lo_que_quiero for lista_mediana in lista_grande for lista_pequeña in lista_mediana for lo_que_quiero in lista_pequeña]
# aquí saco todos los nombres que están dentro de las dos listas pequeñas que están dentro de las cuatro listas medianas dentro de la lista grande
# esto se puede hacer directamente sin los pasos anteriores
print(mi_lista_con_lo_que_quiero)

['Jorgina', 'Xinru', 'José', 'Adrià', 'Leonardo', 'Miguel', 'Mary Cruz', 'Isabel', 'Karina', 'Jonathan', 'Javier', 'Daniel', 'Pablo', 'Nacho', 'Sonia', 'Marina', 'Mauro', 'Jorge', 'Juan', 'Nacho F']

In [5]:
mi_lista_con_lo_que_quiero_conmigo = [lo_que_quiero+" y Clara" for lista_mediana in lista_grande for lista_pequeña in lista_mediana for lo_que_quiero in lista_pequeña]
mi_lista_con_lo_que_quiero_conmigo

['Jorgina y Clara',
 'Xinru y Clara',
 'José y Clara',
 'Adrià y Clara',
 'Leonardo y Clara',
 'Miguel y Clara',
 'Mary Cruz y Clara',
 'Isabel y Clara',
 'Karina y Clara',
 'Jonathan y Clara',
 'Javier y Clara',
 'Daniel y Clara',
 'Pablo y Clara',
 'Nacho y Clara',
 'Sonia y Clara',
 'Marina y Clara',
 'Mauro y Clara',
 'Jorge y Clara',
 'Juan y Clara',
 'Nacho F y Clara']