In [1]:
import pandas as pd
import numpy as np

edad = [1, 70, 5, 40, 60, 3]
altura = [0.50, 1.55, 0.8, 1.75, 1.65, 0.65]

df = pd.DataFrame(data=[edad, altura]).T
df

      0     1
0   1.0  0.50
1  70.0  1.55
2   5.0  0.80
3  40.0  1.75
4  60.0  1.65
5   3.0  0.65

In [3]:
df["Rango_edad"] = pd.cut(df[0], 5)
df

      0     1     Rango_edad
0   1.0  0.50  (0.931, 14.8]
1  70.0  1.55   (56.2, 70.0]
2   5.0  0.80  (0.931, 14.8]
3  40.0  1.75   (28.6, 42.4]
4  60.0  1.65   (56.2, 70.0]
5   3.0  0.65  (0.931, 14.8]

In [4]:
df["Rango_altura"] = pd.cut(df[1], 2)
df

      0     1     Rango_edad    Rango_altura
0   1.0  0.50  (0.931, 14.8]  (0.499, 1.125]
1  70.0  1.55   (56.2, 70.0]   (1.125, 1.75]
2   5.0  0.80  (0.931, 14.8]  (0.499, 1.125]
3  40.0  1.75   (28.6, 42.4]   (1.125, 1.75]
4  60.0  1.65   (56.2, 70.0]   (1.125, 1.75]
5   3.0  0.65  (0.931, 14.8]  (0.499, 1.125]

In [5]:
df2 = pd.DataFrame(data=["rojo", "azul", "negro"])
df2

       0
0   rojo
1   azul
2  negro

In [6]:
pd.get_dummies(df2)

   0_azul  0_negro  0_rojo
0       0        0       1
1       1        0       0
2       0        1       0