# Bajando datos de diferentes fuentes. Ejemplos

## Bajar datos de Bicimad

In [1]:
# Importamos librerias
import requests
import zipfile
import pandas as pd

In [2]:
url = "https://pm1.narvii.com/6431/3088a72e09f5f0024926266d8ee1266f9598a1f7_hq.jpg"
respuesta = requests.get(url)

In [3]:
with open('data/maestro.jpg', 'wb') as f:
    f.write(respuesta.content)

In [4]:
filename = 'data/bicis.zip'
url = 'https://opendata.emtmadrid.es/getattachment/7517a650-ccdf-4ab1-b1b0-a1d13694472e/201906_Usage_Bicimad.aspx'

r = requests.get(url, allow_redirects=True)

In [5]:
# Guardamos el zip
with open(filename, 'wb') as f:
   f.write(r.content)

In [6]:
# Extraemos lo que hay dentro
with zipfile.ZipFile(filename, 'r') as zip_ref:
    zip_ref.extractall("data/")

In [7]:
# Leemos los datos
datos_bicis = pd.read_json('data/201906_Usage_Bicimad.json',  lines=True, encoding ='latin-1')

In [8]:
# Vemos qué pinta tienen
datos_bicis.head()

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code,track
0,{'$oid': '5cf83b752f3843a016be4e2f'},e4d55deb9ac172a8d8f5f0a32599815bd51b7c8760d67e...,21,1,8,219,90,0,66,{'$date': '2019-06-01T00:00:00.000+0200'},,NaN
1,{'$oid': '5cf83b762f3843a016be4e48'},8a0c4123e924a50a958f51985eb71aea750fb072438035...,19,1,19,359,71,4,136,{'$date': '2019-06-01T00:00:00.000+0200'},28039,NaN
2,{'$oid': '5cf83b762f3843a016be4e4f'},a6a9c1f74a68496000542210abc4fc2eba79e2756ad535...,17,1,7,375,39,4,38,{'$date': '2019-06-01T00:00:00.000+0200'},28013,NaN
3,{'$oid': '5cf83b762f3843a016be4e53'},5706c0bd494acc02279d532821c9666b0e506d4f81c838...,4,1,21,264,66,5,90,{'$date': '2019-06-01T00:00:00.000+0200'},28009,NaN
4,{'$oid': '5cf83b762f3843a016be4e54'},eb1b6d32bd4add5d5ff91af72a38786d61075c090383a5...,3,1,13,367,152,4,166,{'$date': '2019-06-01T00:00:00.000+0200'},28006,NaN

# Acceso a archivos de la pagina de datos.gob.es
Uno de los mayores catálogos de información pública descargable en España

In [9]:
url = 'https://data.renfe.com/dataset/928d911e-00ca-437b-be3f-068fc1f97800/resource/63d285e8-9f52-410b-8412-8a8c26f5ddb3/download/consumo-de-agua-y-materiales.csv'
datos = pd.read_csv(url, sep=';')
datos

    Año  Consumo de agua (m3)  Aceites/grasas  (kg)  Pinturas (kg)
0  2019                903240                540511          88537
1  2018                917605                446983         116778
2  2017                923881                452534          96362
3  2016                952455                302202         125304
4  2015                941651                315302         130003
5  2014               1023534                319674         125448
6  2013                905703                308904          96946

# OpenStreetMap

In [10]:
# Amenities
# https://wiki.openstreetmap.org/wiki/Key:amenity

import requests
import json
import pandas as pd
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json];
node["amenity"="restaurant"]
  (40.420801, -3.694702,40.423754, -3.688167); 
out;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)
data = response.json()

<Response [200]>

In [11]:
data.keys()

dict_keys(['version', 'generator', 'osm3s', 'elements'])

In [12]:
data['version']

0.6

In [13]:
data['generator']

'Overpass API 0.7.56.9 76e5016d'

In [14]:
data['osm3s']

{'timestamp_osm_base': '2021-05-25T07:40:46Z',
 'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'}

#### Si puedo fácilmente con pandas:

In [15]:
pd.DataFrame(data['elements'])

,type,id,lat,lon,tags
0,node,305536401,40.423086,-3.693547,"{'amenity': 'restaurant', 'name': 'La Castafio..."
1,node,324580483,40.422607,-3.693256,"{'amenity': 'restaurant', 'cuisine': 'japanese..."
2,node,3361315181,40.423315,-3.692506,"{'addr:city': 'Madrid', 'addr:housenumber': '1..."
3,node,3425259022,40.421960,-3.694270,"{'amenity': 'restaurant', 'name': 'La Kitchen'..."
4,node,3425259024,40.421956,-3.693905,"{'addr:city': 'Madrid', 'addr:housenumber': '9..."
5,node,3426628963,40.423695,-3.691651,"{'amenity': 'restaurant', 'name': 'Café Espejo'}"
6,node,3426800301,40.421951,-3.693535,"{'addr:city': 'Madrid', 'addr:housenumber': '1..."
7,node,3426800303,40.422266,-3.694097,"{'addr:city': 'Madrid', 'addr:housenumber': '4..."
8,node,3426800308,40.423151,-3.694062,"{'amenity': 'restaurant', 'name': 'El Cano de ..."
9,node,3426800309,40.423345,-3.692632,"{'addr:city': 'Madrid', 'addr:housenumber': '1..."
10,node,3426800318,40.422441,-3.694220,"{'addr:city': 'Madrid', 'addr:housenumber': '1..."
11,node,3428424428,40.422395,-3.691137,"{'amenity': 'restaurant', 'contact:website': '..."
12,node,4307227333,40.421872,-3.690240,"{'amenity': 'restaurant', 'name': 'Banzai'}"
13,node,4339113687,40.421130,-3.689796,"{'amenity': 'restaurant', 'cuisine': 'japanese..."
14,node,4447160292,40.423600,-3.693725,"{'addr:city': 'Madrid', 'addr:country': 'ES', ..."
15,node,4596780491,40.422379,-3.689518,"{'addr:housenumber': '2', 'addr:street': 'Call..."
16,node,4602972001,40.422151,-3.690570,"{'amenity': 'restaurant', 'cuisine': 'arab', '..."
17,node,4688479045,40.422777,-3.689781,"{'addr:city': 'Madrid', 'addr:housenumber': '2..."
18,node,4703448419,40.422991,-3.693652,"{'addr:city': 'Madrid', 'addr:housenumber': '6..."
19,node,4703448421,40.422255,-3.694251,"{'addr:city': 'Madrid', 'addr:housenumber': '3..."
20,node,4778747542,40.422576,-3.694493,"{'addr:city': 'Madrid', 'addr:housenumber': '1..."
21,node,4778747545,40.422081,-3.690748,"{'addr:city': 'Madrid', 'addr:housenumber': '4..."
22,node,4778747546,40.421821,-3.689824,"{'addr:city': 'Madrid', 'addr:housenumber': '1..."
23,node,4885056598,40.420818,-3.688803,"{'addr:city': 'Madrid', 'addr:country': 'ES', ..."
24,node,5068790959,40.422809,-3.694127,"{'amenity': 'restaurant', 'name': 'Restaurante..."
25,node,5622545022,40.422426,-3.693418,"{'addr:housenumber': '20', 'addr:street': 'Cal..."
26,node,6684049135,40.422211,-3.690702,"{'amenity': 'restaurant', 'name': 'Pelotari', ..."
27,node,6806382285,40.422235,-3.690743,"{'amenity': 'restaurant', 'name': 'El Pelotari'}"

#### Si NO puedo fácilmente con pandas:

In [17]:
str(data)[:400]

"{'version': 0.6, 'generator': 'Overpass API 0.7.56.9 76e5016d', 'osm3s': {'timestamp_osm_base': '2021-05-24T21:27:42Z', 'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'}, 'elements': [{'type': 'node', 'id': 305536401, 'lat': 40.4230858, 'lon': -3.6935468, 'tags': {'amenity': 'restaurant', 'name': 'La Castafiore'}}, {'type': 'no"

In [16]:
elements = data['elements']
places = {'lat': [], 'lon': [], 'name': [], 'address': []}

for x in elements:
    try:
        latitude = x.get('lat')
        longitude = x['lon']
        name = x.get('tags').get('name')
        street = x['tags']['addr:street']
        number = x['tags']['addr:housenumber']
        
        places['lat'].append(latitude)
        places['lon'].append(longitude)
        places['name'].append(name)
        places['address'].append(street + ' ' + str(number))
    except:
        continue

df = pd.DataFrame(places)
df

,lat,lon,name,address
0,40.423315,-3.692506,Ainhoa,Calle de Doña Bárbara de Braganza 12
1,40.421956,-3.693905,En La Gloria,Calle de Prim 9
2,40.421951,-3.693535,Tampu,Calle de Prim 13
3,40.422266,-3.694097,Casa Gades,Calle del Conde de Xiquena 4
4,40.423345,-3.692632,El Gato Persa,Calle de Doña Bárbara de Braganza 10
5,40.422441,-3.694220,Cannibal Raw Bar,Calle del Almirante 12
6,40.423600,-3.693725,Luke,Calle de Doña Bárbara de Braganza 2
7,40.422379,-3.689518,Flavia,Calle de Gil de Santivañes 2
8,40.422777,-3.689781,SQD Meat Point,Calle de Villanueva 2
9,40.422991,-3.693652,Noteolvides,Calle del Marqués de Monasterio 6
10,40.422255,-3.694251,Merci,Calle del Conde de Xiquena 3
11,40.422576,-3.694493,Mortadella,Calle del Almirante 11
12,40.422081,-3.690748,New York Burger,Calle de Recoletos 4
13,40.421821,-3.689824,Mestizo,Calle de Recoletos 13
14,40.420818,-3.688803,Sushi Shop,Calle de Serrano 1
15,40.422426,-3.693418,Delirant,Calle del Almirante 20

## Bajando datos de la calidad del aire

También existe un dataset en Kaggle, pero vamos a ver un ejemplo

In [17]:
import pandas as pd
import requests
import io
import csv

url2 = "http://www.mambiente.munimadrid.es/opendata/horario.csv"

datos = pd.read_csv(url2, sep=";")

In [18]:
datos

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,4,1,28079004_1_38,2021,5,25,10.00,V,...,0,N,0,N,0,N,0,N,0,N
1,28,79,4,6,28079004_6_48,2021,5,25,0.20,V,...,0,N,0,N,0,N,0,N,0,N
2,28,79,4,7,28079004_7_8,2021,5,25,1.00,V,...,0,N,0,N,0,N,0,N,0,N
3,28,79,4,8,28079004_8_8,2021,5,25,12.00,V,...,0,N,0,N,0,N,0,N,0,N
4,28,79,4,12,28079004_12_8,2021,5,25,13.00,V,...,0,N,0,N,0,N,0,N,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,28,79,60,7,28079060_7_8,2021,5,25,1.00,V,...,0,N,0,N,0,N,0,N,0,N
131,28,79,60,8,28079060_8_8,2021,5,25,13.00,V,...,0,N,0,N,0,N,0,N,0,N
132,28,79,60,10,28079060_10_47,2021,5,25,5.00,V,...,0,N,0,N,0,N,0,N,0,N
133,28,79,60,12,28079060_12_8,2021,5,25,14.00,V,...,0,N,0,N,0,N,0,N,0,N
134,28,79,60,14,28079060_14_6,2021,5,25,81.38,V,...,0,N,0,N,0,N,0,N,0,N