# 06 - Combining datasets

### Step 1. Import the necessary libraries

In [17]:
import numpy as np
import pandas as pd

### Step 2. Import the datasets you'll find in the folder `data` and assign each to a variable called cars1 and cars2

The following exercise uses data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

In [2]:
cars1 = pd.read_csv('data/cars1.csv')
cars2 = pd.read_csv('data/cars2.csv')

### Step 3. Have a look at the columns of the dataset.

In [3]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [4]:
cars2.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [6]:
unnamed = ['Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13']
cars1 = cars1.drop(columns=unnamed, axis=1)
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

### Step 5. What is the number of observations in each dataset?

In [8]:
cars1.count()[0]

198

In [9]:
cars2.count()[0]

200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [16]:
cars = pd.merge(cars1, cars2, how='outer')
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [23]:
series = np.random.randint((15000, 73000), size=(len(cars),1))

### Step 8. Add the column owners to cars

In [24]:
cars['owners'] = series
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,4228
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,71890
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,8599
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,24945
4,17.0,8,302,140,3449,10.5,70,1,ford torino,855
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,13179
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,1122
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,10731
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,2812
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,56489