# Apartado 2 - Collections

- Listas, tuplas y colecciones
- Diccionarios

--------------------------------------------------------------------------------------

## Listas

In [49]:
lc = ["red", "blue", "green"]
print(type(lc))
print(lc)

<class 'list'>
['red', 'blue', 'green']

In [3]:
len(lc)

3

In [4]:
la = ["red", "blue", "green", 2, 6.9]
la

['red', 'blue', 'green', 2, 6.9]

In [5]:
print(la[0])

red

In [6]:
la[4]

6.9

In [7]:
# Última posición
la[-1]

6.9

In [8]:
# Penúltima posición
la[-2]

2

In [9]:
len(la)

5

In [10]:
la

['red', 'blue', 'green', 2, 6.9]

In [11]:
tamano = len(la)
la[tamano - 2]

2

In [12]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0]

print(bicycles)
print(message)

['trek', 'cannondale', 'redline', 'specialized']
My first bicycle was a trek

`list.reverse`

In [13]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

`list.remove`

In [17]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(too_expensive + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
ducati is too expensive for me.

In [18]:
motorcycles.remove(too_expensive)

ValueError: list.remove(x): x not in list

In [19]:
motorcycles.append(35235)
print("Tamaño de la lista: " + str(len(motorcycles)))
print("salto")
print("m")
print("n")
print("---------")
print(motorcycles[-2])
print("---------")
motorcycles

Tamaño de la lista: 4
salto
m
n
---------
suzuki
---------

['honda', 'yamaha', 'suzuki', 35235]

In [21]:
type(motorcycles)

list

In [20]:
type(len(motorcycles))

int

In [51]:
lista = [1, 2, 3, 6, 7, 8]

lista[1:4]

[2, 3, 6]

In [53]:
lista[2:4]

[3, 6]

In [54]:
l = [1, 2, 3, 4, 5 ,6 ,7 ,8 ,9]

[0, 4]
(0, 4)

(0, 4)

--------------------------------------------------------------------------------------

### Tupla

In [50]:
tupla = ("2", "3", "2")
print(type(tupla))
print(tupla)

<class 'tuple'>
('2', '3', '2')

In [23]:
tupla.remove("2")

AttributeError: 'tuple' object has no attribute 'remove'

In [24]:
len(tupla)

3

In [25]:
type(tupla)

tuple

In [26]:
l = []
type(l)

list

In [27]:
t = ("5,7", 8, [2,5])
t_to_list = list(t)
print(type(t))
print(type(t_to_list))
list_to_tuple = tuple(t_to_list)

<class 'tuple'>
<class 'list'>

In [28]:
t = (2,4,6,8)
print(type(t))
t = list(t)
t.append(45)
print(type(t))
t = tuple(t)
print(type(t))
t

<class 'tuple'>
<class 'list'>
<class 'tuple'>

(2, 4, 6, 8, 45)

--------------------------------------------------------------------------------------

### Set

In [29]:
l = ["x", 6, "y", "y", "a", 7, 8, 5]
print("l:", l)
print(type(l))
s = set(l)
print(type(s))
print("s:", s)
len(s)

l: ['x', 6, 'y', 'y', 'a', 7, 8, 5]
<class 'list'>
<class 'set'>
s: {'y', 5, 6, 7, 8, 'a', 'x'}

7

--------------------------------------------------------------------------------------

## Diccionarios

```python
{"soy_key": [4, "soy_value"]}
```

In [32]:
diccionario = {1:"X", "X":2}
diccionario

{1: 'X', 'X': 2}

In [33]:
diccionario[1]

'X'

In [ ]:
diccionario["X"]

In [34]:
diccionario["clave"] = ["2", 2]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 2]}

In [35]:
diccionario[2] = 4
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 2], 2: 4}

In [36]:
print(diccionario["clave"])

['2', 2]

In [37]:
diccionario["clave"] = ["2", 4]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 4], 2: 4}

In [38]:
diccionario["clave"] = diccionario["clave"]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 4], 2: 4}

In [39]:
diccionario["X"] = "3"
diccionario

{1: 'X', 'X': '3', 'clave': ['2', 4], 2: 4}

In [40]:
diccionario["x"] = 99
diccionario

{1: 'X', 'X': '3', 'clave': ['2', 4], 2: 4, 'x': 99}

In [41]:
diccionario["X"] = diccionario["x"]
diccionario

{1: 'X', 'X': 99, 'clave': ['2', 4], 2: 4, 'x': 99}

In [42]:
del diccionario["clave"]
diccionario

{1: 'X', 'X': 99, 2: 4, 'x': 99}

In [43]:
del diccionario["x"]
diccionario

{1: 'X', 'X': 99, 2: 4}

`dict.update`

In [44]:
diccionario.update({'before' : 24})
diccionario

{1: 'X', 'X': 99, 2: 4, 'before': 24}

In [45]:
diccionario["before"] = 2
diccionario

{1: 'X', 'X': 99, 2: 4, 'before': 2}

In [46]:
diccionario["dict"] = diccionario

In [47]:
print(diccionario)

{1: 'X', 'X': 99, 2: 4, 'before': 2, 'dict': {...}}

In [48]:
dict_dnis = {}
dict_dnis["899008667J"] = ["Paco", 1.78, 33, 4000000]
dict_dnis["676777888Y"] = ["Paco", 1.78, 33, 30]
dict_dnis

{'899008667J': ['Paco', 1.78, 33, 4000000],
 '676777888Y': ['Paco', 1.78, 33, 30]}