In [2]:
import os

import pandas as pd

In [4]:
root = os.path.dirname(os.getcwd())

In [5]:
df = pd.read_csv(root + os.sep + 'data'+ os.sep + 'BASE.csv')

In [6]:
df

,Unnamed: 0,title,quote,ID,Year,Genre
0,0,10 things i hate about you,Who knocked up your sister?,tt0147800,1999,"Comedy,Drama,Romance"
1,1,10 things i hate about you,"I was watching you out there, before. I've nev...",tt0147800,1999,"Comedy,Drama,Romance"
2,2,10 things i hate about you,"You're 18, you don't know what you want. And y...",tt0147800,1999,"Comedy,Drama,Romance"
3,3,10 things i hate about you,"Ooh, see that, there. Who needs affection when...",tt0147800,1999,"Comedy,Drama,Romance"
4,4,10 things i hate about you,"Just 'cause you're beautiful, that doesn't mea...",tt0147800,1999,"Comedy,Drama,Romance"
...,...,...,...,...,...,...
5949,5949,the lord of the rings: the fellowship of the ring,"If by my life or death I can protect you, I wi...",tt0120737,2001,"Action,Adventure,Drama"
5950,5950,the lord of the rings: the return of the king,Certainty of death. Small chance of success. W...,tt0167260,2003,"Action,Adventure,Drama"
5951,5951,the lord of the rings: the return of the king,The journey doesn't end here. Death is just an...,tt0167260,2003,"Action,Adventure,Drama"
5952,5952,the lord of the rings: the return of the king,I see in your eyes the same fear that would ta...,tt0167260,2003,"Action,Adventure,Drama"
5953,5953,the lord of the rings: the return of the king,But it is not this day!,tt0167260,2003,"Action,Adventure,Drama"