In [1]:
import json
from sqlalchemy import create_engine
import pandas as pd

# Leemos json con las credenciales
with open('settings_sql.json', "r") as json_file_readed:
        json_readed = json.load(json_file_readed)

# Asignamos valores
IP_DNS = json_readed["IP_DNS"]
PORT = json_readed["PORT"]
USER = json_readed["USER"]
PASSWORD = json_readed["PASSWORD"]
BD_NAME = json_readed["BD_NAME"]

SQL_ALCHEMY = 'mysql+pymysql://' + USER + ':' + PASSWORD + '@' + IP_DNS + ':' + str(PORT) + '/' + BD_NAME

# Creamos conexión
engine = create_engine(SQL_ALCHEMY)

In [3]:
comentarios = {'id_user':[1, 1, 1, 2, 2], 'id_evento':[2, 15, 29, 38, 16], 'comentario':[], 'fecha':[]}

comentarios['comentario'] += ["Muy buena idea y excelente concierto. Me gustó que fuera al aire libre",
"Maravillosa exposición y facilmente accesible.",
"Un agradable lugar donde conectar con la naturaleza preparado para todas las personas.",
"Costó un poco llegar pero sin duda muy recomendable.",
"Una experiencia que pone a prueba casi todos los sentidos"]
comentarios['fecha'] += ['2021-07-01', '2021-06-28', '2021-05-16', '2021-04-20', '2021-07-21']

In [4]:
df = pd.DataFrame(comentarios, index=range(len(comentarios['fecha'])))
df

,id_user,id_evento,comentario,fecha
0,1,2,Muy buena idea y excelente concierto. Me gustó...,2021-07-01
1,1,15,Maravillosa exposición y facilmente accesible.,2021-06-28
2,1,29,Un agradable lugar donde conectar con la natur...,2021-05-16
3,2,38,Costó un poco llegar pero sin duda muy recomen...,2021-04-20
4,2,16,Una experiencia que pone a prueba casi todos l...,2021-07-21

In [5]:
df.to_sql('comentarios', engine, index=False, if_exists='append')

In [8]:
favs = {'id_user':[1, 1, 1, 2, 2, 2, 2, 2], 'id_evento':[20, 18, 5, 30, 31, 8, 16, 21]}

fav = pd.DataFrame(favs, index=range(8))
fav

   id_user  id_evento
0        1         20
1        1         18
2        1          5
3        2         30
4        2         31
5        2          8
6        2         16
7        2         21

In [ ]:
fav.to_sql('usuarios_favEvent', engine, index=False, if_exists='append')