# DATA MINING

## 1. Accesibilidad_Transporte_Publico

In [1]:
import tabula
import os

tables = tabula.read_pdf('Accesibilidad_Transporte_Publico.pdf', pages="all")

In [3]:
len(tables)

109

In [47]:
tables[51]

               Unnamed: 0                      ESTACIONES DE METRO DE MADRID
0                     NaN  ESTACIONES CON MEDIDAS ESTACIONES CON MEDIDAS ...
1                     NaN  COMPLEMENTARIAS  COMPLEMENTARIAS DE ASCENSORES...
2                     NaN  DE ACCESIBILIDAD  ACCESIBILIDAD PERO SIN PERO ...
3                     NaN          Y ASCENSORES  ASCENSORES  COMPLEMENTARIAS
4                     NaN            Y/O RAMPAS Y/O RAMPAS  DE ACCESIBILIDAD
5                   Metro                                          116 31 70
6            Metro Ligero                                             38 0 0
7                   Total                                          154 31 70
8  % sobre el total (301)                            51,16 % 10,29 % 23,25 %

### 1.1 Estaciones FGC Catalu√±a

In [40]:
df = tables[46].copy()
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,% ESTACIONES
0,NaN,NaN,ADAPTADAS,NaN,TOTAL ESTACIONES,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,ADAPTADAS
2,FGC,79.0,NaN,80.0,NaN,99%,NaN
3,Metro y funicular,142.0,NaN,156.0,NaN,91%,NaN
4,Total,221.0,NaN,236.0,NaN,94%,NaN

In [41]:
df = df.drop([0, 1])
df = df.drop(['Unnamed: 2', 'Unnamed: 4', '% ESTACIONES'], axis=1)
df.rename(columns={'Unnamed: 0': 'Transporte', 'Unnamed: 1': 'ADAPTADAS', 'Unnamed: 3':'TOTAL ESTACIONES', 'Unnamed: 5': '% ESTACIONES ADAPTADAS'}, inplace=True)
df.index = range(3)
df['ADAPTADAS'] = df['ADAPTADAS'].apply(lambda x: int(x))
df['TOTAL ESTACIONES'] = df['TOTAL ESTACIONES'].apply(lambda x: int(x))
df

          Transporte  ADAPTADAS  TOTAL ESTACIONES % ESTACIONES ADAPTADAS
0                FGC         79                80                    99%
1  Metro y funicular        142               156                    91%
2              Total        221               236                    94%

In [42]:
df.to_csv('Accesibilidad_TP' + os.sep + 'Tabla_1_Estaciones_FGC.csv')

### 1.2 Estaciones Metro de Madrid

In [60]:
df = tables[51].copy()
df

               Unnamed: 0                      ESTACIONES DE METRO DE MADRID
0                     NaN  ESTACIONES CON MEDIDAS ESTACIONES CON MEDIDAS ...
1                     NaN  COMPLEMENTARIAS  COMPLEMENTARIAS DE ASCENSORES...
2                     NaN  DE ACCESIBILIDAD  ACCESIBILIDAD PERO SIN PERO ...
3                     NaN          Y ASCENSORES  ASCENSORES  COMPLEMENTARIAS
4                     NaN            Y/O RAMPAS Y/O RAMPAS  DE ACCESIBILIDAD
5                   Metro                                          116 31 70
6            Metro Ligero                                             38 0 0
7                   Total                                          154 31 70
8  % sobre el total (301)                            51,16 % 10,29 % 23,25 %

In [61]:
cols = df['ESTACIONES DE METRO DE MADRID']
metro = cols[5].split(' ')
ml = cols[6].split(' ')
total = cols[7].split(' ')
porcentage = [val + '%' for val in cols[8].split(' ') if val != '%']
original_cols = ['ESTACIONES CON MEDIDAS COMPLEMENTARIAS DE ACCESIBILIDAD Y ASCENSORES Y/O RAMPAS',
                    'ESTACIONES CON MEDIDAS COMPLEMENTARIAS DE ACCESIBILIDAD PERO SIN ASCENSORES Y/O RAMPAS',
                    'ESTACIONES CON ASCENSORES Y/O RAMPAS PERO SIN MEDIDAS COMPLEMENTARIAS DE ACCESIBILIDAD']
df[original_cols[0]] = list(range(5)) + [metro[0]] + [ml[0]] + [total[0]] + [porcentage[0]]
df[original_cols[1]] = list(range(5)) + [metro[1]] + [ml[1]] + [total[1]] + [porcentage[1]]
df[original_cols[2]] = list(range(5)) + [metro[2]] + [ml[2]] + [total[2]] + [porcentage[2]]
df.drop([0, 1, 2, 3, 4], inplace=True)
df.drop('ESTACIONES DE METRO DE MADRID', axis=1, inplace=True)
df.rename(columns={'Unnamed: 0': 'Transporte'}, inplace=True)
df

,Transporte,ESTACIONES CON MEDIDAS COMPLEMENTARIAS DE ACCESIBILIDAD Y ASCENSORES Y/O RAMPAS,ESTACIONES CON MEDIDAS COMPLEMENTARIAS DE ACCESIBILIDAD PERO SIN ASCENSORES Y/O RAMPAS,ESTACIONES CON ASCENSORES Y/O RAMPAS PERO SIN MEDIDAS COMPLEMENTARIAS DE ACCESIBILIDAD
5,Metro,116,31,70
6,Metro Ligero,38,0,0
7,Total,154,31,70
8,% sobre el total (301),"51,16%","10,29%","23,25%"

In [62]:
df.to_csv('Accesibilidad_TP' + os.sep + 'Tabla_2_Estaciones_Metro_Madrid.csv')