# Apartado 1 - Variables 

- Variables y tipos
- Números y operadores
- None
- Booleano
- Condicional `if`
- Input

------------------------------------------------------------------

## Variables y tipos

```python
String - str
Integer - int
Float - float
List - list
Tuple - tuple
Set - set
None 
Boolean - bool
```

In [3]:
cadena = "hello world"
entero = 4
flotante = 3.5

In [2]:
print(type(cadena))

<class 'str'>

In [3]:
print(type(entero))

<class 'int'>

In [4]:
print(type(flotante))

<class 'float'>

In [5]:
x = 2

print(x)

gabriel_vazquez = "Gabriel Vazquez"

2

In [6]:
print("Hello Python world!")
print("Nombre de compañero")

compañero = "Compañero123123"

Hello Python world!
Nombre de compañero

In [7]:
print(compañero)

Compañero123123

In [8]:
# String, Integer, Float, List, None (NaN)
# str, int, float, list, 

string_ = "23"
numero = 23

print(type(string_))

<class 'str'>

In [9]:
print(string_)

23

In [10]:
numero2 = 10
suma = numero + numero2
print(suma)

33

In [11]:
string2 = "33"
suma2 = string_ + string2
print(suma2)

2333

In [12]:
m = (((numero2 + int(string2))))
print(m)

43

In [13]:
print(type(int(string2)))

<class 'int'>

In [14]:
y = 22
y = str(y)
print(type(y))
y

<class 'str'>

'22'

In [15]:
string2 = int(string2)
print(type(string2))

<class 'int'>

In [16]:
string3 = "10"
numero_a_partir_de_string = int(string3)
print(numero_a_partir_de_string)
print(string3)

print(type(numero_a_partir_de_string))
print(type(string3))

10
10
<class 'int'>
<class 'str'>

In [17]:
h = "2"
int(h)

2

In [18]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

gabriel_vazquez = "Gabriel Vazquez"

print(suma)
print(resta)
print(multiplicacion)
print(division)
print(division_absoluta)
print(type(division))
print(type(division_absoluta))

15
9
36
4.0
4
<class 'float'>
<class 'int'>

#### Markdown | Texto

In [ ]:
```python 
# Título
## Esto es un subtítulo
**negrita**
*cursiva*
- marcadores
```

In [ ]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
"""
print(x)
x = 25
x = 76
x = "1"

In [ ]:
message2 = "One of Python's strengths is its diverse community." 
print(message2)
message2

#### Ejercicio
##### Crear una nueva celda y declarar tres variables: 
- Una con el nombre `edad` con valor vuestra edad
- Otra `edad_compañero_der` que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra `suma_anterior` que contenga la suma de las dos variables anteriormente declaradas

Mostrar por pantalla la variable `suma_anterior`

In [ ]:
# intento 1

# code

# intento 2

# code

# intento 3

# code

In [ ]:
edad = 18
edad_companero_der = 29
suma_anterior = edad + edad_companero_der
suma_anterior

In [ ]:
name = "Ada Lovelace"
x = 2
print(name.upper())
print(name.lower())

In [ ]:
print(name.upper)

In [ ]:
print(name.upper())

In [ ]:
x = 2
x = x + 1
x += 1

In [ ]:
x = 2
y = 4

print(x, y, "Pepito", "Hola")

-----------------------------------------------------------

## Números y operadores

In [19]:
x = 3
print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2, sep="||||") # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- Varias cosas en una línea:
1||||2||||8||||10

In [20]:
y = 2.5 
print("- Tipo de y:")
print(type(y)) # Imprime el tipo de y
print("- Varios valores en punto flotante:")
print(y, y + 1, y * 2.5, y ** 2) # Imprime varios números en punto flotante

- Tipo de y:
<class 'float'>
- Varios valores en punto flotante:
2.5 3.5 6.25 6.25

## None

In [24]:
x = None

print(type(x))

<class 'NoneType'>

In [23]:
print(print())

None

-----------------------------------------------------------

## Boolean

```python
- False --> 0, None, False, [[]]
- True --> !=0, Algo, True, [[1, "2"]]
```

In [26]:
1 == 1

True

In [27]:
print(1 == 2)

False

In [28]:
1 > 2

False

In [30]:
1 >= 2

False

In [31]:
1 >= 1

True

In [32]:
1 != 2

True

In [33]:
1 <= 2

True

-----------------------------------------------------------

## Condicionales

Condition --> `< > == !=`

In [34]:
l = [2, 4, 6, 8]
s = [2, 3, 1]

if len(l) != len(s):
    print("YES")
else:
    print("NO")

YES

In [35]:
y = True
x = False

l = [2, 4, "7"]

if 1 == 2:
    print("Se cumple")
else:
    print("No se cumple")

No se cumple

In [36]:
gh == 0

NameError: name 'gh' is not defined

In [37]:
x = 2
if x == 2:
    print("IF")
    x = 2
    y = "dkgjsigs"
    if x == 2:
        print("IF-2")
elif x >= 4:
    print("ELIF-gisjigjsigji")
elif x >= 2:
    print("ELIF")
else:
    print("ELSE")

IF
IF-2

In [ ]:
x = 5.5

if (x >= 1) and (x <= 3):
    print("Mayor a 1 y menor a 3")
elif x > 5 and x < 6:
    print("Mayor a 5 o menor a 6")

    if x == 1 or x == 2 or x >= 4:
        print("Tres")
    else:
        print("Else")

In [38]:
s = "Benancio"
print(s[4])

n

In [39]:
x = ""

if x:
    print(True)
else:
    print(False)

False

In [40]:
True and True

True

In [41]:
(1==1) or (1==2)

True

In [42]:
gab = "Gabriel"
len(gab)

7

In [43]:
gab[2]

'b'

In [1]:
if not(1 == 1):
    print(True)
else:
    print(False)

False

In [2]:
y = 2
if y:
    print("Y")
if not(y):
    print(6)
else:
    print("imprime otra cosa")

Y
imprime otra cosa

-----------------------------------------------------------

## Input

In [44]:
x = input("Escribe tu nombre:")
print(x)

Escribe tu nombre: Gabriel

Gabriel

In [45]:
primero = int(input("Inserta un número:"))
segundo = int(input("Inserta otro número:"))

print(primero + segundo)

Inserta un número: 3
Inserta otro número: 4

7

In [46]:
x = "2"

x.lower()

'2'

In [47]:
p = input("Número 1:")
k = input("Número 2:")

if p.isnumeric() and k.isnumeric():
    j = int(p) + int(k)
    print(j)
else:
    print("Solo están permitidos números.")

Número 1: 3
Número 2: 4

7

In [49]:
x = "X"
y = 4

print(x > y)

TypeError: '>' not supported between instances of 'str' and 'int'

---------------------------------------------------------------------------------------------------------