# Data Science Bootcamp - The Bridge 
## Precurso
En este notebook vamos a ver, uno a uno, los conceptos básicos de Python. Constarán de ejercicios prácticos acompañados de una explicación teórica dada por el profesor.

Los siguientes enlaces están recomendados para el alumno para profundizar y reforzar conceptos a partir de  ejercicios y ejemplos:

- https://www.kaggle.com/learn/python

- https://facundoq.github.io/courses/aa2018/res/02_python.html

- https://www.w3resource.com/python-exercises/

- https://www.practicepython.org/

- https://es.slideshare.net/egutierrezru/python-paraprincipiantes

- https://www.sololearn.com/Play/Python#

- https://github.com/mhkmcp/Python-Bootcamp-from-Basic-to-Advanced

Ejercicios avanzados:

- https://github.com/darkprinx/100-plus-Python-programming-exercises-extended/tree/master/Status (++)

- https://github.com/mahtab04/Python-Programming-Practice (++)

- https://github.com/whojayantkumar/Python_Programs (+++)

- https://www.w3resource.com/python-exercises/ (++++)

- https://github.com/fupus/notebooks-ejercicios (+++++)

Tutor de ayuda PythonTutor:

- http://pythontutor.com/

## 1. Variables y tipos

### Cadenas

In [1]:
# Entero - Integer - int
x = 7
# Cadena - String - Lista de caracteres - str
x = "lorena"
print(x)

x = 7
print(x)

lorena
7

In [2]:
type(x)

int

In [ ]:
# built-in
type

In [3]:
x = 5
y = 7

z = x + y
print(z)

12

In [4]:
x = "'lorena' \""
l = 'silvia----'

g = x + l
# Las cadenas se concatenan
print(g)

'lorena' "silvia----

In [5]:
# type muestra el tipo de la variable
type(g)

str

In [7]:
type(5)

int

In [8]:
print(x)

'lorena' "

In [9]:
# print es una función que recibe varios argumentos y cada argumento está diferenciado por la coma. Después de cada coma, la función 'print' añade un espacio.

# mala praxis
print(    g,z  ,    6,     "cadena")

# buena praxis - PEP8
print(g, z, 6, "cadena")

'lorena' "silvia---- 12 6 cadena
'lorena' "silvia---- 12 6 cadena

In [12]:
x = 5
s = "6"

print(x + s)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
# Cambiar de int a str

#built-in

x = 6
print(type(x))
x = str(6)
print(type(x))

<class 'int'>
<class 'str'>

In [19]:
x = 5
z = "558" + str(x)
print(z)

5585

In [26]:
# Cambiar de str a int
s = "56"
print(s)
print(type(s))
s = int(s)
print(s)
print(type(s))

z = 7 + s
print(z)

56
<class 'str'>
56
<class 'int'>
63

In [25]:
s = "56a"
s = int(s)
print(s)

ValueError: invalid literal for int() with base 10: '56a'

In [27]:
# Para ver la longitud de una lista de caracteres (lista)

p = "lista caracteres"
print(len(p))

16

In [ ]:
# String, Integer, Float, List, None (NaN), bool
# str, int, float, list, bool

In [28]:
x = 5.875
print(type(x))

<class 'float'>

In [29]:
o = x + 2
print(o)

7.875

In [31]:
x = int(x)
print(x)
print(type(x))

5
<class 'int'>

In [32]:
x = float(x)
print(x)
print(type(x))

5.0
<class 'float'>

In [35]:
l = (2 + 5) * 3
print(l)

21

In [36]:
l = ((2 + 5) * 3)
print(l)

21

In [37]:
m = ((((65 + int("22")) * 2)))
m

174

In [ ]:
s = "89"

In [38]:
print(type(int(s)))

<class 'int'>

In [39]:
# los decimales son float. Python permite las operaciones entre int y float
x = 4
y = 4.2

print(x + y)

8.2

In [40]:
t = 5 
g = 2
print(t / g)

2.5

In [46]:
t = 4
g = 2
print(t / g)
print(type(t / g))

2.0
<class 'float'>

In [50]:
d = t / g
print(d)
print(type(d))
d = int(d * 6.1 + 1.1 / 6.2)
print(d)

2.0
<class 'float'>
12

In [104]:
# La división normal (/) es siempre float
# La división absoluta (//) puede ser: 
# - float si uno de los dos números (o los dos) son float
# - int si los dos son int 
j = 15
k = 4
division = j // k
print(division)
division = j / k
print(division)
print(type(division))

3
3.75
<class 'float'>

In [47]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

print("suma:", suma)
print("resta:", resta)
print("multiplicación:", multiplicacion)
print("division:", division)
print("division_absoluta:", division_absoluta)
print(type(division))
print(type(division_absoluta))

suma: 15
resta: 9
multiplicación: 36
division: 4.0
division_absoluta: 4
<class 'float'>
<class 'int'>

In [57]:
# Jupyter notebook permite que la última línea se imprima por pantalla ( la variable )

x = 2
k = 4
k
x
k

4

In [ ]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
"""

## Ejercicio: 
### Crear una nueva celda.
### Declarar tres variables: 
- Una con el nombre "edad" con valor vuestra edad
- Otra "edad_compañero_der" que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra "suma_anterior" que contenga la suma de las dos variables anteriormente declaradas

 Mostrar por pantalla la variable "suma_anterior"

In [59]:
edad = 18
edad_companero_der = 27
suma_anterior = edad + edad_companero_der
print(suma_anterior)

45

In [60]:
# funciones built-in de string

string1 = "Hola"
print(string1.upper())

HOLA

## 2. Números y operadores

In [61]:
x = 2

print(x**)

8

In [62]:
x = 4 
x = x + 1
print(x)

5

In [ ]:
x = 4
x += 1

In [63]:
### Enteros ###

x = 3

print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

#print("- El módulo de x con 40")
#print(40 % x)

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2) # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- Varias cosas en una línea:
1 2 8 10

In [64]:
# El módulo muestra el resto de la división entre dos números
x = 4 % 2
print(x)

0

In [ ]:
numero = 99

numero % 2  # Si el resto es 0, el número es par. Sino, impar.

In [78]:
numero = 99

numero % 3  # El 3 es divisor de 'numero' si el resultado del módulo da 0

0

Actualizar variable en cada ejecución

In [106]:
x = 5

In [116]:
x += 2 
j = 7 + x
print(j)

32

## Título markdown

#### otro título

# INPUT

In [77]:
x = input()
print(type(x))
print(x)

<class 'str'>
fafag

In [72]:
x = int(input())
print(type(x))
l = 4 + x
print(x)

<class 'int'>
45

In [88]:
x = int(input("Escribe un número:"))
print(type(x))
l = 4 + x
print(l)

<class 'int'>
9

In [89]:
x = float(input("Escribe un número:"))
print(type(x))
l = 4 + x
print(l)

<class 'float'>
9.6

In [96]:
x = int(float("57.9"))
x

57

In [101]:
edad = input("Escribe tu edad")
print(edad)

56.2

In [103]:
edad = float(edad)
print(edad)

56.2

## 3. Tipo None

In [79]:
# str int float none

x = None

p = 5 + x
print(p)

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [81]:
x = None 
print(type(x))

<class 'NoneType'>

### Booleans

In [80]:
cierto = True
falso = False 
print(type(cierto))

<class 'bool'>

## 4. Listas y colecciones

In [ ]:
# Una colección:
# lista, conjunto (set), tupla, array, string

In [117]:
# Lista de elementos:

# Las posiciones se empiezan a contar desde 0
s = "Cadena"

In [118]:
print(s[0])

C

In [145]:
s = ""
print(type(s))

<class 'str'>

In [146]:
s[0]

IndexError: string index out of range

In [147]:
print(len(s))

0

In [120]:
lista = []
print(type(lista))

<class 'list'>

In [ ]:
# La última posición de una colección coincide con el (número de elementos - 1)

In [122]:
lista = [3, 7.2, "hola"]
print(lista[2])  # último 
print(lista[1])  # penúltimo 
print(lista[0])  # antepenúltimo

hola
7.2
3

In [ ]:
print(lista[-1])  # último 
print(lista[-2])  # penúltimo 
print(lista[-3])  # antepenúltimo

In [124]:
print(lista[0:2])

[3, 7.2]

In [125]:
print(lista)

[3, 7.2, 'hola']

In [148]:
lista2 = ["hola", 2, [7.2, "x"]]
print(len(lista2))

3

In [127]:
print(lista2[-1])

[7.2, 'x']

In [128]:
print(lista2[-1][-1])

x

In [129]:
lista3 = ["hola", 2, [7.2, "xa"]]
print(lista3[-1][-1][0])

x

In [136]:
lista4 = ["hola", 2, [[7.2, "xa"],]]
print(type(lista4))
print(type(lista4[-1]))
print(type(lista4[-1][1]))

<class 'list'>
<class 'list'>

IndexError: list index out of range

In [149]:
lista4 = ["hola", 2, [[7.2, "xa"]]]
print(lista4)
print(type(lista4))
print(lista4[-1])
print(type(lista4[-1]))
print(lista4[-1][0])
print(type(lista4[-1][0]))
print(lista4[-1][0][-1])
print(type(lista4[-1][0][-1]))
print(lista4[-1][0][-1][-1])
print(type(lista4[-1][0][-1][-1]))

['hola', 2, [[7.2, 'xa'], 6]]
<class 'list'>
[[7.2, 'xa'], 6]
<class 'list'>
[7.2, 'xa']
<class 'list'>
xa
<class 'str'>
a
<class 'str'>

In [140]:
lista5 = [4,]
print(lista5)

[4]

In [153]:
s = "hola"

lenght = 4
s[1:4]

'ola'

In [154]:
s = "Hola soy Clara"

print(s[::-1])

aralC yos aloH

In [155]:
# Para acceder a varios elementos, se especifica con la nomenclatura "[N:M]". N es el primer elemento a obtener, M es el último elemento a obtener pero no incluido. Ejemplo: 

# Queremos mostrar desde las posiciones 3 a la 7. Debemos especificar: [3:8]

# Si M no tiene ningún valor, se obtiene desde N hasta el final. 
# Si N no tiene ningún valor, es desde el principio de la colección hasta M
s[3:len(s)]

'a soy Clara'

In [156]:
# Coge desde el elemento en la posición 3 (incluido) hasta el final
s[3:]

'a soy Clara'

In [157]:
# Coge todos los elementos hasta la posición 3 (sin incluir)
s[:3]

'Hol'

In [158]:
# Agrega un valor a la última posición de la lista
s = "hola"
s = s.upper()
print(s)

HOLA

In [161]:
lista = [4, "x"]
print(lista)

[4, 'x']

In [171]:
lista.append(7)

In [172]:
print(lista)
print(len(lista))

[4, 'x', 7, 7, 7, 7, 7]
7

In [175]:
lista = [4, "x"]
print(lista)
lista.append(7)
print(lista)
print(len(lista))

[4, 'x']
[4, 'x', 7]
3

In [179]:
# remove elimina el primer elemento que se encuentra que coincide con el valor del argumento
lista = [4, 'y', 7]
lista.remove(7)
lista.remove(7)
print(lista)

ValueError: list.remove(x): x not in list

In [180]:
# remove elimina el primer elemento que se encuentra que coincide con el valor del argumento
lista = [4, 'y', 7, 'y']
lista.remove('y')
print(lista)

[4, 7, 'y']

In [183]:
lista = [4, 'y', 7, 'y']
lista.append('y')  # append siempre añade el elemento al final de la lista
print(lista)
lista.remove('y')  # elimina la primera coincidencia
print(lista)

[4, 'y', 7, 'y', 'y']
[4, 7, 'y', 'y']

In [217]:
lista = [4, 'x', 'y', ['z']]
lista[-1].append(4)  # añade un entero 4 a la lista ['z']
print(lista)

[4, 'x', 'y', ['z', 4]]

In [218]:
lista = [4, 'x', 'y', ['z']]
lista[-1].append([4]) # añade una lista [4] a la lista ['z']
print(lista)

[4, 'x', 'y', ['z', [4]]]

In [185]:
h = 4
l = [4]
print("tipo de h:", type(h))
print("tipo de l:", type(l))

tipo de h: <class 'int'>
tipo de l: <class 'list'>

In [187]:
l.append(3)
print(l)

[4, 3]

In [191]:
# Accedemos a la posición 1 del elemento que está en la posición 2 de lista

lista = ['l', 9.4, [8.1, 'xs']]
print(lista[2][1])

xs

In [199]:
lista2 = ['l', 9.4, [8.1, 'xs']]
lista2.reverse()
print(lista2)

[[8.1, 'xs'], 9.4, 'l']

In [195]:
lista3 = [2, 4, 6, 8, 'o']
print(len(lista3))

5

In [201]:
lista_1 = [2, 4]
lista_2 = [8, 9]
lista_3 = lista_1 + lista_2  # concatenamos
print(lista_3)

[2, 4, 8, 9]

In [203]:
lista3 = [2, 4, 6, 8, 'o']
lista3.append(lista2)  # añadir al final de la lista
print(lista3)

[2, 4, 6, 8, 'o', [[8.1, 'xs'], 9.4, 'l']]

In [206]:
lista3[5][0].append(lista2)

In [209]:
print(lista3)

[2, 4, 6, 8, 'o', [[8.1, 'xs', [...]], 9.4, 'l']]

In [213]:
print(lista3[5][0][2])

[[8.1, 'xs', [...]], 9.4, 'l']

In [214]:
lista = ["a", "b"]
lista.reverse()
print(lista)

['b', 'a']

In [215]:
lista = ["a", "b"]
lista = lista.reverse()
print(lista)

None

In [216]:
lista = ["a", "b"]
lista = lista[::-1]
print(lista)

['b', 'a']

In [219]:
# Ejemplo práctico

lista_pacientes = [["Gabriel..", "algo"], ["Lorena", "inflamación"]]
lista_pacientes[0]

['Gabriel..', 'algo']

### Colecciones

1. Listas
2. String (colección de caracteres)
3. Tuplas
4. Conjuntos (Set)
5. Diccionarios

In [223]:
s = "j"
s[0][0]

'j'

In [225]:
n = 2
n[0]

TypeError: 'int' object is not subscriptable

In [227]:
# Listas --> Mutables
lista = [2, 5, "caract", [9, "g", ["j"]]]
print(lista[-1][-1][-1])
lista[3][2][0]

j

'j'

In [233]:
x = ((2 + 2))
x

4

In [235]:
x = 2
print(type(x))

<class 'int'>

In [238]:
lista = [2, 5]
tupla = (2, 4)
print(len(tupla))

2

In [239]:
tupla[1]

4

In [241]:
# Tuplas --> Inmutables

tupla = (2, 5, "caract", [9, "g", ["j"]])
print(type(tupla))
tupla

<class 'tuple'>

(2, 5, 'caract', [9, 'g', ['j']])

In [242]:
# Update listas
lista = [2, "6", ["k", "m"]]
lista[1] = 1
lista

[2, 1, ['k', 'm']]

In [253]:
tupla = (2, "b", ["k", "m"])
tupla[1] = 1
tupla

TypeError: 'tuple' object does not support item assignment

In [254]:
tupla[2].append("Otro")
tupla

(2, 'b', ['k', 'm', 'Otro'])

In [255]:
# La tupla es inmutable pero sí se puede modificar las colecciones mutables dentro de ella

tupla[2].remove("k")
tupla[2].remove("m")
tupla[2].remove("Otro")
tupla

(2, 'b', [])

In [261]:
tupla[2] = [2]

TypeError: 'tuple' object does not support item assignment

In [266]:
tupla = (2, 'b', [])

In [267]:
print(tupla)
tupla = list(tupla)
print(tupla)
tupla[1] = "5"
print(tupla)
tupla = tuple(tupla)
tupla

(2, 'b', [])
[2, 'b', []]
[2, '5', []]

(2, '5', [])

In [269]:
# Conjuntos

conjunto = [2, 4, 6, "a", "z", "h", 2]
conjunto = set(conjunto)
conjunto

{2, 4, 6, 'a', 'h', 'z'}

In [270]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, True, True, False]
conjunto = set(conjunto)
conjunto

{2, 4, 6, False, True, 'a', 'h', 'z'}

In [271]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False]
conjunto = set(conjunto)
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [272]:
conjunto_tupla = ("a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False)
conjunto = set(conjunto_tupla)
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [273]:
conjunto = {"a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False}
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [277]:
y = (2)
y

2

In [278]:
y = {2,}
print(type(y))
y

<class 'set'>

{2}

In [ ]:
s = "String"
lista_s = list(s)
lista_s

In [ ]:
s = "String"
conj = {s}
conj

In [ ]:
# Cambiar de tupla a lista, remover elemento y convertir en tupla

In [ ]:
conjunto = {2, 5, "h"}
lista_con_conjunto = [conjunto]
lista_con_conjunto[0]

In [ ]:
# No podemos acceder a elementos de un conjunto
lista_con_conjunto[0][0]

## 5. Condiciones: if, elif, else

In [5]:
x = 5
if x < 4:
    print('1')
elif x > 3:
    print('2')
    x = 10
    if x < 4:
        print('1')
    elif x == 6:
        print('x es 6')
    else:
        print('else interno')
elif x == 5:
    print('x es 5')
else:
    print('primer else')

2
else interno

In [10]:
if 1 == 2 or 1 == 2 or 2 == 2 and 5 == 2:
    print('hola')
else:
    print('adiós')

adiós

### Boolean

In [ ]:
True
False

In [ ]:
# Operadores comparativos

In [ ]:
# Diferente

In [ ]:
"""
==  -> Igualdad
!= -> Diferecia
< -> Menor que
> -> Mayor que
<= -> Menor o igual
>= -> Mayor o igual
"""

In [ ]:
# and solo devolverá True si TODOS son True
True and False

In [ ]:
# or devolverá True si UNO es True

In [ ]:
# Sinónimos de False para las condiciones:
# None
# False
# 0 (int or float)
# Cualquier colección vacía --> [], "", (), {}

# El None no actúa como un número al compararlo con otro número
"""
El True lo toma como un numérico 1
"""

# Bucles For, While

In [ ]:
# Lista alturas

In [17]:
lista = [2, 'x', [6]]

for x in lista:
    print(x)

2
x
[6]

In [20]:
lista = [1, 1, 8]

for n in lista:
    print(n - 1)

0
0
7

In [21]:
lista = ['x', 'y', 'z']

for n in lista:
    print(n + 'F')

xF
yF
zF

In [23]:
lista = ['X', 1, 'G']

for n in lista:
    if type(n) == int:
        print(str(n) + 'F')
    else:
        print(n + 'F')

XF
1F
GF

In [24]:
lista = ['X', 1, 'G']

for n in lista:
    if isinstance(n, int):
        print(str(n) + 'F')
    else:
        print(n + 'F')

XF
1F
GF

In [26]:
lista = [[2,4], 'xyz', 2, [6, '8']]

#Mostrar solo los elementos lista

for x in lista:
    if isinstance(x, list):
        print(x)

[2, 4]
[6, '8']

In [32]:
lista_alturas = [1.66,1.82,1.73,1.75,1.54,1.70,1.70,1.80,1.81,1.87, 1.86, 1.52, 1.70, 1.78, 1.73, 1.78, 1.60, 1.77, 1.80, 1.64, 1.85, 1.79, 1.63, 'x', 200]

print(len(lista_alturas))
alturas_menores = []

for altura in lista_alturas:
    if isinstance(altura, float) and altura < 1.7:
        alturas_menores.append(altura)

print(alturas_menores)

24
[1.66, 1.54, 1.52, 1.6, 1.64, 1.63]

In [35]:
lista_listas = [["Pepe", 200], ['Juan', 300], ['Lorena', 150], ['Rocío', 500]]

#Mostrar sólo los nombres: dinero

for x in lista_listas:
    print(str(x[0]) + ': ' + str(x[1]))

Pepe: 200
Juan: 300
Lorena: 150
Rocío: 500

In [41]:
for i in range(len(lista_listas)):
    print(lista_listas[i][0])

Pepe
Juan
Lorena
Rocío

In [44]:
for i, x in enumerate(lista_listas):
    print(i, x)

0 ['Pepe', 200]
1 ['Juan', 300]
2 ['Lorena', 150]
3 ['Rocío', 500]

## Funciones