# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [1]:
classmates = ['Jorge García',
    'Jonathan Suarez',
    'Adriá Gallarado',
    'Daniel Walker',
    'José Carlos Batista',
    'Leonardo Frazzetto',
    'Nacho Astorga',
    'Nacho FP',
    'Sonia Cobo',
    'Xinru Yang',
    'Mauro',
    'Gina Garrido',
    'Isabel Palomares',
    'Javier Araiz',
    'Jonathan Abbondanza',
    'Juan Bayón',
    'Karina Inche',
    'Maekhäl Yeurl',
    'Marina, SC',
    'Mary Cruz Meza',
    'Pablo Diez',
    'Pablo Eduardo',
    'Susana Vázquez']

print(classmates)

['Jorge García', 'Jonathan Suarez', 'Adriá Gallarado', 'Daniel Walker', 'José Carlos Batista', 'Leonardo Frazzetto', 'Nacho Astorga', 'Nacho FP', 'Sonia Cobo', 'Xinru Yang', 'Mauro', 'Gina Garrido', 'Isabel Palomares', 'Javier Araiz', 'Jonathan Abbondanza', 'Juan Bayón', 'Karina Inche', 'Maekhäl Yeurl', 'Marina, SC', 'Mary Cruz Meza', 'Pablo Diez', 'Pablo Eduardo', 'Susana Vázquez']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [2]:
empty_list = []
print(empty_list)

[]

2. Create a list with 5 items, call it **my_list**

In [3]:
my_list = ['perro', 'gato', 'pájaro', 'rana', 'tortuga']
print(my_list)

['perro', 'gato', 'pájaro', 'rana', 'tortuga']

3. Find the length of **my_list**

In [4]:
print(len(my_list))

5

4. Get the first item, the middle item and the last item of **my_list**

In [5]:
print(my_list[0], my_list[2], my_list[-1])

perro pájaro tortuga

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [6]:
name = 'Jorge'
age = 27
height = 1.79
country = 'Spain'
python_version = 3.7
print(name, age, height, country, python_version)

Jorge 27 1.79 Spain 3.7

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [7]:
mixed_data_types = [name, age, height, country, python_version]
print(mixed_data_types)

['Jorge', 27, 1.79, 'Spain', 3.7]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [85]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [86]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [87]:
print(len(it_companies))

7

11. Print *Google*

In [88]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [89]:
print(it_companies[0], it_companies[3], it_companies[-1])

Facebook Apple Amazon

11. Assign a new value to the last element of the list

In [90]:
it_companies[-1] = 'Asus'
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Asus']

12. Print the list after modifying one of the companies

In [91]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Asus']

## Bonus track.

13. Add an IT company to **it_companies**

In [92]:
it_companies.append('Samsung')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Asus', 'Samsung']

14. Check if *Apple* exists in the **it_companies** list.

In [93]:
print('Apple' in it_companies)

True

15. Sort the list using `sort()` method

In [94]:
it_companies.sort()
print(it_companies)

['Apple', 'Asus', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Samsung']

16. Reverse the list in descending order using `reverse()` method

In [95]:
it_companies.reverse()
print(it_companies)

['Samsung', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Asus', 'Apple']

17. Slice out the first 3 companies from the list

In [96]:
it_companies = it_companies[3:]
print(it_companies)

['IBM', 'Google', 'Facebook', 'Asus', 'Apple']

18. Remove the last IT company from the list

In [97]:
it_companies.remove('Apple')
print(it_companies)

['IBM', 'Google', 'Facebook', 'Asus']

19. Remove all IT companies from the list

In [109]:
it_companies = ['IBM', 'Google', 'Facebook', 'Asus']

while len(it_companies) > 0:
    it_companies.pop()
print(it_companies)

[]

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [110]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

list_end = front_end + back_end
print(list_end)

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [111]:
print(list_end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [112]:
print(list_end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [113]:
tup = ('T',)
print(tup)

('T',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [114]:
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [115]:
elements = ["H", "E", " ", "B", "R", "I", "D", "G", "E",]

tup = list(tup)
for e in elements:
    tup.append(e)

tup = tuple(tup)

print(tup)

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

In order to be able to append the desired elements, the tuple must be turned into a list due to the innate **immutability** of this collection type.

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

As explained above, due to the tuple's immutability values cannot be re-assigned. In order to do so it must be turned into a list and returned again into a tuple.

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [119]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [120]:
my_set = set(lista_repes)
print(my_set)

{'science', 'python', 'data', 'diomedes', 'clara', 'gabriel'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [121]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [122]:
my_set = list(my_set)
print(my_set[0])

science