In [3]:
from utils import change_m, change_dollar, data_path
import pandas as pd 

df = pd.read_csv(data_path)
df["Price"] = df["Price"].apply(change_dollar)
df["Price"] = pd.to_numeric(df["Price"])
df["Reviews"] = df["Reviews"].apply(change_m)
df["Reviews"] = pd.to_numeric(df["Reviews"])

df = df[df['Reviews'] >= 1000000]

df_bars = df.groupby(['Category', 'Installs'])['App'].count().reset_index().sort_values('App', ascending=False)
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
139,Wattpad ðŸ“– Free Books,BOOKS_AND_REFERENCE,4.6,2914724.0,Varies with device,"100,000,000+",Free,0.0,Teen,Books & Reference,"August 1, 2018",Varies with device,Varies with device
152,Google Play Books,BOOKS_AND_REFERENCE,3.9,1433233.0,Varies with device,"1,000,000,000+",Free,0.0,Teen,Books & Reference,"August 3, 2018",Varies with device,Varies with device
189,Uber Driver,BUSINESS,4.4,1254730.0,Varies with device,"10,000,000+",Free,0.0,Everyone,Business,"August 3, 2018",Varies with device,Varies with device
194,OfficeSuite : Free Office + PDF Editor,BUSINESS,4.3,1002861.0,35M,"100,000,000+",Free,0.0,Everyone,Business,"August 2, 2018",9.7.14188,4.1 and up
201,Facebook Pages Manager,BUSINESS,4.0,1279184.0,Varies with device,"50,000,000+",Free,0.0,Everyone,Business,"August 2, 2018",Varies with device,Varies with device
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10190,Fallout Shelter,FAMILY,4.6,2721923.0,25M,"10,000,000+",Free,0.0,Teen,Simulation,"June 11, 2018",1.13.12,4.1 and up
10200,Facebook Pages Manager,BUSINESS,4.0,1279800.0,Varies with device,"50,000,000+",Free,0.0,Everyone,Business,"August 6, 2018",Varies with device,Varies with device
10327,Garena Free Fire,GAME,4.5,5534114.0,53M,"100,000,000+",Free,0.0,Teen,Action,"August 3, 2018",1.21.0,4.0.3 and up
10636,FRONTLINE COMMANDO,GAME,4.4,1351833.0,12M,"10,000,000+",Free,0.0,Teen,Action,"October 28, 2013",3.0.3,2.1 and up
10707,Photo Editor Collage Maker Pro,PHOTOGRAPHY,4.5,1519671.0,Varies with device,"100,000,000+",Free,0.0,Everyone,Photography,"February 1, 2018",Varies with device,Varies with device

In [4]:
df_bars

               Category        Installs  App
25                 GAME    100,000,000+  130
26                 GAME     50,000,000+   58
38          PHOTOGRAPHY    100,000,000+   36
8         COMMUNICATION    100,000,000+   35
24                 GAME     10,000,000+   34
..                  ...             ...  ...
15        ENTERTAINMENT     50,000,000+    1
16               FAMILY  1,000,000,000+    1
2              BUSINESS     10,000,000+    1
66              WEATHER     10,000,000+    1
0   BOOKS_AND_REFERENCE  1,000,000,000+    1

[68 rows x 3 columns]

In [10]:
reviews = [1000417, 78158306]
selected_type = ['Free', 'Paid']

filtered_df = df[df["Type"].isin(selected_type)]
filtered_df = filtered_df[filtered_df["Reviews"] >= reviews[0]]
filtered_df = filtered_df[filtered_df["Reviews"] <= reviews[1]]
filtered_df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
139,Wattpad ðŸ“– Free Books,BOOKS_AND_REFERENCE,4.6,2914724.0,Varies with device,"100,000,000+",Free,0.0,Teen,Books & Reference,"August 1, 2018",Varies with device,Varies with device
152,Google Play Books,BOOKS_AND_REFERENCE,3.9,1433233.0,Varies with device,"1,000,000,000+",Free,0.0,Teen,Books & Reference,"August 3, 2018",Varies with device,Varies with device
189,Uber Driver,BUSINESS,4.4,1254730.0,Varies with device,"10,000,000+",Free,0.0,Everyone,Business,"August 3, 2018",Varies with device,Varies with device
194,OfficeSuite : Free Office + PDF Editor,BUSINESS,4.3,1002861.0,35M,"100,000,000+",Free,0.0,Everyone,Business,"August 2, 2018",9.7.14188,4.1 and up
201,Facebook Pages Manager,BUSINESS,4.0,1279184.0,Varies with device,"50,000,000+",Free,0.0,Everyone,Business,"August 2, 2018",Varies with device,Varies with device
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10190,Fallout Shelter,FAMILY,4.6,2721923.0,25M,"10,000,000+",Free,0.0,Teen,Simulation,"June 11, 2018",1.13.12,4.1 and up
10200,Facebook Pages Manager,BUSINESS,4.0,1279800.0,Varies with device,"50,000,000+",Free,0.0,Everyone,Business,"August 6, 2018",Varies with device,Varies with device
10327,Garena Free Fire,GAME,4.5,5534114.0,53M,"100,000,000+",Free,0.0,Teen,Action,"August 3, 2018",1.21.0,4.0.3 and up
10636,FRONTLINE COMMANDO,GAME,4.4,1351833.0,12M,"10,000,000+",Free,0.0,Teen,Action,"October 28, 2013",3.0.3,2.1 and up
10707,Photo Editor Collage Maker Pro,PHOTOGRAPHY,4.5,1519671.0,Varies with device,"100,000,000+",Free,0.0,Everyone,Photography,"February 1, 2018",Varies with device,Varies with device

In [11]:
df_bars = filtered_df.groupby(['Category', 'Installs'])['App'].count().reset_index().sort_values('App', ascending=False)
df_bars

               Category        Installs  App
25                 GAME    100,000,000+  130
26                 GAME     50,000,000+   58
38          PHOTOGRAPHY    100,000,000+   36
8         COMMUNICATION    100,000,000+   35
24                 GAME     10,000,000+   34
..                  ...             ...  ...
15        ENTERTAINMENT     50,000,000+    1
16               FAMILY  1,000,000,000+    1
2              BUSINESS     10,000,000+    1
66              WEATHER     10,000,000+    1
0   BOOKS_AND_REFERENCE  1,000,000,000+    1

[68 rows x 3 columns]