### GOAL 

![](json_df_goal.png)

To save it as a json file in local

## Working on Jsons

In [37]:
import requests
import json
import pandas as pd

## 1. 

Read an online json  (not always needed). 

If it is a local json --> 'with open()'

In [38]:
r = requests.get(url='https://mdn.github.io/learning-area/javascript/oojs/json/superheroes.json')

json_readed = r.json()
json_readed

{'squadName': 'Super Hero Squad',
 'homeTown': 'Metro City',
 'formed': 2016,
 'secretBase': 'Super tower',
 'active': True,
 'members': [{'name': 'Molecule Man',
   'age': 29,
   'secretIdentity': 'Dan Jukes',
   'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']},
  {'name': 'Madame Uppercut',
   'age': 39,
   'secretIdentity': 'Jane Wilson',
   'powers': ['Million tonne punch',
    'Damage resistance',
    'Superhuman reflexes']},
  {'name': 'Eternal Flame',
   'age': 1000000,
   'secretIdentity': 'Unknown',
   'powers': ['Immortality',
    'Heat Immunity',
    'Inferno',
    'Teleportation',
    'Interdimensional travel']}]}

In [39]:
print(json_readed)

{'squadName': 'Super Hero Squad', 'homeTown': 'Metro City', 'formed': 2016, 'secretBase': 'Super tower', 'active': True, 'members': [{'name': 'Molecule Man', 'age': 29, 'secretIdentity': 'Dan Jukes', 'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']}, {'name': 'Madame Uppercut', 'age': 39, 'secretIdentity': 'Jane Wilson', 'powers': ['Million tonne punch', 'Damage resistance', 'Superhuman reflexes']}, {'name': 'Eternal Flame', 'age': 1000000, 'secretIdentity': 'Unknown', 'powers': ['Immortality', 'Heat Immunity', 'Inferno', 'Teleportation', 'Interdimensional travel']}]}

------------------

## 2. 

Save json in a local file called "data.json"

In [40]:
with open('data.json', 'w+') as vr:
    json.dump(json_readed, vr)

------------------

## 3. 

Save with indent

In [41]:
with open('data_indented.json', 'w+') as outfile:
    json.dump(json_readed, outfile, indent=4)

------------------

## 4.

Read local json

In [42]:
with open('data_indented.json', 'r+') as outfile:
    json_readed = json.load(outfile)
print(type(json_readed))
json_readed

<class 'dict'>

{'squadName': 'Super Hero Squad',
 'homeTown': 'Metro City',
 'formed': 2016,
 'secretBase': 'Super tower',
 'active': True,
 'members': [{'name': 'Molecule Man',
   'age': 29,
   'secretIdentity': 'Dan Jukes',
   'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']},
  {'name': 'Madame Uppercut',
   'age': 39,
   'secretIdentity': 'Jane Wilson',
   'powers': ['Million tonne punch',
    'Damage resistance',
    'Superhuman reflexes']},
  {'name': 'Eternal Flame',
   'age': 1000000,
   'secretIdentity': 'Unknown',
   'powers': ['Immortality',
    'Heat Immunity',
    'Inferno',
    'Teleportation',
    'Interdimensional travel']}]}

## 5. 

Transform to pandas DataFrame. Two ways:

In [43]:
df = pd.DataFrame(json_readed)  # From dict
df

,squadName,homeTown,formed,secretBase,active,members
0,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Molecule Man', 'age': 29, 'secretIde..."
1,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Madame Uppercut', 'age': 39, 'secret..."
2,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Eternal Flame', 'age': 1000000, 'sec..."

In [44]:
df_json = pd.read_json("data_indented.json")
df_json

,squadName,homeTown,formed,secretBase,active,members
0,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Molecule Man', 'age': 29, 'secretIde..."
1,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Madame Uppercut', 'age': 39, 'secret..."
2,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Eternal Flame', 'age': 1000000, 'sec..."

------------------

## 6.

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to modify the data to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

In [45]:
type(df_json["members"])

pandas.core.series.Series

In [46]:
df_members_json = pd.DataFrame(json_readed["members"])
df_members_json

,name,age,secretIdentity,powers
0,Molecule Man,29,Dan Jukes,"[Radiation resistance, Turning tiny, Radiation..."
1,Madame Uppercut,39,Jane Wilson,"[Million tonne punch, Damage resistance, Super..."
2,Eternal Flame,1000000,Unknown,"[Immortality, Heat Immunity, Inferno, Teleport..."

--------------------------------------

**Concatenamos por columnas los dataframes**

In [47]:
final_df = pd.concat([df_json, df_members_json], axis=1)
final_df

,squadName,homeTown,formed,secretBase,active,members,name,age,secretIdentity,powers
0,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Molecule Man', 'age': 29, 'secretIde...",Molecule Man,29,Dan Jukes,"[Radiation resistance, Turning tiny, Radiation..."
1,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Madame Uppercut', 'age': 39, 'secret...",Madame Uppercut,39,Jane Wilson,"[Million tonne punch, Damage resistance, Super..."
2,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Eternal Flame', 'age': 1000000, 'sec...",Eternal Flame,1000000,Unknown,"[Immortality, Heat Immunity, Inferno, Teleport..."

#### Borramos la columna members

In [48]:
final_df = final_df.drop(["members"], axis=1)
final_df

,squadName,homeTown,formed,secretBase,active,name,age,secretIdentity,powers
0,Super Hero Squad,Metro City,2016,Super tower,True,Molecule Man,29,Dan Jukes,"[Radiation resistance, Turning tiny, Radiation..."
1,Super Hero Squad,Metro City,2016,Super tower,True,Madame Uppercut,39,Jane Wilson,"[Million tonne punch, Damage resistance, Super..."
2,Super Hero Squad,Metro City,2016,Super tower,True,Eternal Flame,1000000,Unknown,"[Immortality, Heat Immunity, Inferno, Teleport..."

--------------------

# EXTRA

--------------------

In [66]:
# Para guardar en un archivo local
final_df.to_json("json_name.json")

Nota:

1. Con dumps, cargamos el contenido de un diccionario a formato string
2. Con loads, cargamos el contenido de un string a formato json formal.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html

In [87]:
# Para guardar en un archivo local con indentaci√≥n
import json
json_result = final_df.to_json(orient="records")
parsed = json.loads(json_result)
with open("final_json.json", 'w+') as outfile:
    json.dump(parsed, outfile, indent=4)

In [79]:
pd.read_json("final_json.json")

,squadName,homeTown,formed,secretBase,active,name,age,secretIdentity,powers
0,Super Hero Squad,Metro City,2016,Super tower,True,Molecule Man,29,Dan Jukes,"[Radiation resistance, Turning tiny, Radiation..."
1,Super Hero Squad,Metro City,2016,Super tower,True,Madame Uppercut,39,Jane Wilson,"[Million tonne punch, Damage resistance, Super..."
2,Super Hero Squad,Metro City,2016,Super tower,True,Eternal Flame,1000000,Unknown,"[Immortality, Heat Immunity, Inferno, Teleport..."